<div class="card employee-card mr-4 shadow p-3 mb-5 bg-white rounded">
    <div class="card-header">
        <h2 class="card-title text-danger">{{ name }}</h2>
        <h3 class="card-title text-warning"><i class="fas fa-mug-hot mr-2"></i>{{ role }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group ">
            <strong><li class="list-group-item">ID #: {{ id }}</li></strong>
            <strong><li class="list-group-item">Email Address: <a href="mailto:{{ email }}">{{ email }}</a></li></strong>
            <strong><li class="list-group-item">Office Number #: {{ officeNumber }}</li></strong>
        </ul>
    </div>
</div>

